<ion-tabs>
    <ion-tab [root]="contactUsRoot" tabTitle="Contact us" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="servicesRoot" tabTitle="Services" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="askRoot" tabTitle="Ask" tabIcon="information-circle"></ion-tab>
</ion-tabs>
